<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted">Lots of cool things</h3>
                </div>
            </div>
			<div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">More than GIFs</h4>
                    <p class="text-muted">Not only can you find a GIF for every occasion, you can also play music!</p>
                </div>
            
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Sentiment Analysis</h4>
                    <p class="text-muted">Keeps the user perfectly balanced by analyzing the mood of their input</p>
                </div>
            
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Many Ways to Interact</h4>
                    <p class="text-muted">Speech-to-text, fancy UI, and many commands allow for easy customization</p>
                </div>
            
        </div>
    </section>